$size-1: 3.7rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1.25rem;
$size-7: 1rem;

@import 'node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');

* {
  box-sizing: border-box;
  font-family: 'Mukta Malar', sans-serif;
}

.subtitle:not(:last-child) {
  margin-bottom: 0.7rem;
}

li {
  a, i {
    font-size: 140%;
  }
}

html {
  background-color: #CBE49F;
}

nav {

}

#main {
  width: 1312px;
  max-width: 96%;
  margin: 37px auto;
}

#search {
  display: block;
  z-index: 7;
  margin-bottom: 23px;

  &.algolia-places {
    width: 100%;
    height: 60px;

    & > * {
      height: 100%;
    }
  }
}

#map {
  z-index: 5;
  min-height: 400px;
  height: calc(50vh + 200px);
  margin-bottom: 23px;

  .leaflet-control-attribution {
    font-size: 75%;
  }
}

#files {
  width: 100%;
  border-color: #dbdbdb;
}

#upload {

}

#save {
  text-align: center;

  button {
    font-size: 196%;
  }
}

footer {
  margin-top: 44px;
  padding: 23px;
  text-align: center;
  background-color: #696464;
  color: white;

  a {
    color: #c6cdda;
  }
}

.notie-alert {
  z-index: 10;
}
