@import 'node_modules/bulma/bulma.sass';

* { box-sizing: border-box; }

html {
  background-color: #CBE49F;
}

nav {
  font-size: 1.3em;
}

#main {
  width: 1312px;
  max-width: 96%;
  margin: 37px auto;

  * {
    font-size: 107%;
  }
}

#search {
  z-index: 7;
  margin-bottom: 23px;
  text-align: center;

  .button {
    font-size: 1.5em;
  }

  & > .algolia-places {
    width: 88%;
    height: 60px;

    & > * {
      height: 100%;
    }
  }
}

#map {
  z-index: 5;
  min-height: 400px;
  height: calc(50vh + 200px);
  margin-bottom: 23px;

  .leaflet-control-attribution {
    font-size: 75%;
  }
}

#files {
  width: 100%;
  border-color: #dbdbdb;
}

#upload {

}

#save {
  text-align: center;

  button {
    font-size: 196%;
  }
}

footer {
  margin-top: 44px;
  padding: 23px;
  text-align: center;
  background-color: #696464;
  color: white;

  a {
    color: #c6cdda;
  }
}
